@media only screen and (max-width: 426px) {
  .selected-recipe {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .selected-recipe-img {
    width: 100%;
    margin-bottom: 20px;
    height: 325px;
    object-fit: cover;
    display: block;
    filter: brightness(65%);
  }

  .title-recipe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
  }

  .details {
    text-align: start;
    margin-left: 40px;
  }

  .details p {
    margin-top: 10px;
    margin-top: 20px;
  }

  .img-title {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .selected-recipe-description {
    font-size: 1rem;
    padding: 50px 40px;
    text-align: start;
    background-color: white;
    color: black;
  }

  .selected-recipe-ingredients {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8b916d;
    color: aliceblue;
  }

  .selected-recipe-ingredients h2 {
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
    align-self: flex-start;
  }

  .ingredients-recipe {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 10px;
    margin-left: 40px;
    flex-wrap: wrap;
    margin-bottom: 90px;
  }

  .ingredient {
    margin-left: 10px;
    margin-bottom: 0px !important;
    text-align: start;
  }

  .ingredient-container {
    display: flex;
    flex-direction: row;
  }

  .selected-recipe-procedure {
    font-size: 1rem;
    padding: 0 40px;
    margin-bottom: 100px;
  }

  .selected-recipe-procedure li {
    margin-bottom: 19px;
    line-height: 1.6;
    padding-left: 7px;
    font-size: 1rem;
  }

  .selected-recipe-procedure li::marker {
    font-weight: bold;
    color: #d2691e;
    font-size: 1.3rem;
  }

  .selected-recipe-v h2 {
    margin-bottom: 60px;
    margin-top: 50px;
    margin-left: 10px;
    color: #bb6647;
  }
}

@media only screen and (min-width: 427px) and (max-width: 1023px) {
  .selected-recipe {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .selected-recipe-img {
    width: 100%;
    height: 525px;
    object-fit: cover;
    display: block;
    filter: brightness(65%);
  }

  .title-recipe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
  }

  .details {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 80px 75px;
  }

  .details p {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;
  }

  .img-title {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .selected-recipe-description {
    font-size: 1.2rem;
    padding: 90px 70px;
    text-align: start;
    background-color: #ffffff;
    color: black;
    border-radius: 20px;
    width: 50%;
  }

  .selected-recipe-ingredients {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: aliceblue;
    padding: 0 40px;
  }

  .selected-recipe-ingredients h2 {
    color: white;
    padding-bottom: 20px;
    align-self: flex-start;
  }

  .ingredients-recipe {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    background-color: #8b916d;
    border-radius: 20px;
    padding: 60px;
    flex-wrap: wrap;
    width: 40%;
  }

  .ingredient {
    margin-left: 10px;
    margin-bottom: 0px !important;
    text-align: start;
  }

  .ingredient-container {
    display: flex;
    flex-direction: row;
  }

  .selected-recipe-procedure {
    font-size: 1rem;
    padding: 0 60px;
    margin-bottom: 100px;
  }

  .selected-recipe-procedure li {
    margin-bottom: 19px;
    line-height: 1.6;
    padding-left: 7px;
    font-size: 1.2rem;
  }

  .selected-recipe-procedure li::marker {
    font-weight: bold;
    color: #d2691e;
    font-size: 1.5rem;
  }

  .selected-recipe-procedure h2 {
    margin-bottom: 60px;
    margin-top: 50px;
    margin-left: 10px;
    color: #bb6647;
  }
}

@media (min-width: 1024px) {
  .selected-recipe {
    margin-top: 230px;
  }

  .selected-recipe {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .selected-recipe-img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    display: block;
    filter: brightness(65%);
  }

  .title-recipe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 2.3rem;
  }

  .details {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 100px 90px;
  }

  .details p {
    font-size: 1.3rem;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;
  }

  .img-title {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .selected-recipe-description {
    font-size: 1.2rem;
    text-align: center;
    background-color: white;
    margin-right: 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 100px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .selected-recipe-ingredients {
    margin-top: 20px;
    margin-left: 100px;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
  }

  .selected-recipe-ingredients h2 {
    color: #bb6647;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  .ingredients-recipe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 15px;
    padding: 0px 80px 0 0;
  }

  .ingredient {
    margin-left: 28px;
    margin-bottom: 0px !important;
    margin-right: 40px;
    text-align: start;
  }

  .ingredient-container {
    display: flex;
    flex-direction: row;
  }

  .selected-recipe-procedure h2 {
    text-align: start;
    margin-bottom: 65px;
    color: #bb6647;
    font-size: 2rem;
  }

  .checkbox-ingredients {
    zoom: 1.5;
  }

  .selected-recipe-procedure {
    font-size: 1rem;
    padding: 0 170px;
    margin-bottom: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .selected-recipe-procedure li {
    margin-bottom: 19px;
    line-height: 1.6;
    padding: 0 100px 0 25px;
    font-size: 1rem;
  }

  .selected-recipe-procedure li::marker {
    font-weight: bold;
    color: #d2691e;
    font-size: 1.3rem;
  }
}
